@font-face {
    font-family: ubuntu;
    src: url(//www.cresoft.org/console/ubuntu.ttf);
}
.console
{
  background: black;
  color: white;
  font-size:16px;
  padding:3px;
  font-family:"ubuntu";
  overflow-y:auto;
  width:600px;
  height:300px;
  resize: both;
}
.console .symbol
{
  float:left;
  height:18px;
}

.console .symbol.right
{
  border-right:1px solid #FFF;
  margin-right:-1px;

}

.console .symbol.left
{
  border-left:1px solid #FFF;
  margin-left:-1px;
}

.console .symbol.null
{
  border-left:1px solid #FFF;
}
